<!DOCTYPE html>
<html>
<head>
    <title>Bjørneparkappen Administrativ Konsoll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script async src="/js/main.js"></script>
    <script>
        function init() {
            wessexsaxonics.mediaserver.init();
        }
    </script>
</head>
<body>
    <ul class="sidenav">
        <li><a id="bjørneparken" href='javascript:void(0)' class="active"><b>Bjørneparkappen</b></a></li>
        <li><a id="species" href='javascript:void(0)'>Species</a></li>
        <li><a id="areas" href='javascript:void(0)'>Areas</a></li>
        <li><a id="animals" href='javascript:void(0)'>Animals</a></li>
        <li><a id="events" href='javascript:void(0)'>Events</a></li>
        <li><a id="keepers" href='javascript:void(0)'>Keepers</a></li>
        <li><a id="sign-out" href='javascript:void(0)'>Sign Out</a></li>
    </ul>
    <div class="content">
        <section id="create-species-page" class="page">
            <h2>Create Species</h2>
            <form id="create-species-form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="species_name">Name:</label>
                    <input name="species_name" id="species_name" type="text" size="20" required/>
                </p>
                <p>
                    <label for="species_latin">Latin:</label>
                    <input name="species_latin" id="species_latin" type="text" size="20" required/>
                </p>
                <p>
                    <label for="species_description">Description:</label>
                    <input name="species_description" id="species_description" type="text" size="20" required/>
                </p>
                <p>
                    <label for="image_file">Image:</label>
                    <input name="image_file" id="image_file" type="file" accept="image/*" size="4" required/>
                </p>
                <input type="submit" value="Create"/>
            </form>
        </section>
        <section id="update-species-page" class="page">
        </section>
        <section id="list-species-page" class="page">
            <h2>Species</h2>
            <button type="button" class="button create" id="species-create">Create New</button>
            <div class="table">
                <input type="text" id='species-search' class="search" onkeyup="bjørneparkappen.adminconsole.species.search()" placeholder="Search for species..">
                <table id="species-table">
                    <tr>
                        <th>Common Name</th>
                        <th>Latin</th>
                        <th>Description</th>
                        <th>Available</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>Bear</td>
                        <td>Ursus Arctos Arctos</td>
                        <td>Big brown bear</td>
                        <td><input type="checkbox"></td>
                        <td><a href='#'>Delete</td>
                    </tr>
                    <tr>
                        <td>Moose</td>
                        <td>Alces Alces</td>
                        <td>Big brown moose</td>
                        <td><input type="checkbox"></td>
                        <td><a href='#'>Delete</td>
                    </tr>
                </table>
            </div>
        </section>

        <section id="create-area-page" class="page">
            <h2>Create Area</h2>
            <form id="create-area-form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="area_label">Label:</label>
                    <input name="area_label" id="area_label" type="text" size="20" required/>
                </p>
                <p>
                    <label for="image_file">Image:</label>
                    <input name="image_file" id="image_file" type="file" accept="image/*" size="4" required/>
                </p>
                <input type="submit" value="Create"/>
            </form>
        </section>
        <section id="update-area-page" class="page">
        </section>
        <section id="list-areas-page" class="page">
            <h2>Areas</h2>
            <button type="button" class="button create" id="area-create">Create New</button>
            <div class="table">
                <input type="text" id='area-search' class="search" onkeyup="bjørneparkappen.adminconsole.areas.search()" placeholder="Search for areas..">
                <table id="areas-table">
                    <tr>
                        <th>Common Name</th>
                        <th>Latin</th>
                        <th>Description</th>
                        <th>Available</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>Bear</td>
                        <td>Ursus Arctos Arctos</td>
                        <td>Big brown bear</td>
                        <td><input type="checkbox"></td>
                        <td><a href='#'>Delete</td>
                    </tr>
                    <tr>
                        <td>Moose</td>
                        <td>Alces Alces</td>
                        <td>Big brown moose</td>
                        <td><input type="checkbox"></td>
                        <td><a href='#'>Delete</td>
                    </tr>
                </table>
            </div>
        </section>


        <section id="create-animal-page" class="page">
        </section>
        <section id="update-animal-page" class="page">
        </section>
        <section id="list-animals-page" class="page">
            <h2>Animals</h2>
        </section>

        <section id="create-event-page" class="page">
        </section>
        <section id="update-event-page" class="page">
        </section>
        <section id="list-events-page" class="page">
            <h2>Events</h2>
        </section>

        <section id="create-keeper-page" class="page">
        </section>
        <section id="update-keeper-page" class="page">
        </section>
        <section id="list-keepers-page" class="page">
            <h2>Keepers</h2>
        </section>
    </div>
</body>
</html>
