<!DOCTYPE html>
<html>
<head>
    <title>Bjørneparkappen Administrativ Konsoll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script async src="/js/main.js" type="text/javascript"></script>
</head>
<body onload="bjørneparkappen.adminconsole.init()">
    <ul class="sidenav">
        <li><a id="bjørneparken" href='javascript:void(0)' class="active"><b>Bjørneparkappen</b></a></li>
        <li><a id="species" href='javascript:void(0)'>Species</a></li>
        <li><a id="areas" href='javascript:void(0)'>Areas</a></li>
        <li><a id="animals" href='javascript:void(0)'>Animals</a></li>
        <li><a id="events" href='javascript:void(0)'>Events</a></li>
        <li><a id="keepers" href='javascript:void(0)'>Keepers</a></li>
        <li><a id="sign-out" href='javascript:void(0)'>Sign Out</a></li>
    </ul>
    <div class="content">

        <p id="loading-text">Loading...</p>

        <section id="species_detail_page" class="page">
            <h2 id="species_detail_title">Create Species</h2>
            <form id="species_detail_form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="species_name">Name:</label>
                    <input name="species_name" id="species_name" type="text" size="20" required autofocus/>
                </p>
                <p>
                    <label for="species_latin">Latin:</label>
                    <input name="species_latin" id="species_latin" type="text" size="20" required/>
                </p>
                <p>
                    <label for="species_description">Description:</label>
                    <input name="species_description" id="species_description" type="text" size="20" required/>
                </p>
                <p>
                    <label for="species_image">Image:</label>
                    <input name="species_image" id="species_image" type="file" accept="image/*" size="4" required/>
                </p>
                <input id="species_detail_cancel" type="button" class="button cancel" value="Cancel" />
                <input id="species_detail_confirm" type="button" class="button submit" value="Create" />
            </form>
        </section>
        <section id="list_species_page" class="page">
            <h2>Species</h2>
            <button type="button" class="button create" id="list_species_create">Create New</button>
            <div class="table">
                <input type="text" id='list_species_search' class="search" onkeyup="bjørneparkappen.adminconsole.species.search()" placeholder="Search for species...">
                <table id="list_species_table">
                    <tr>
                        <th>Common Name</th>
                        <th>Latin</th>
                        <th>Delete</th>
                    </tr>
                </table>
            </div>
        </section>

        <section id="area_detail_page" class="page">
            <h2 id="area_detail_title">Create Area</h2>
            <form id="area_detail_form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="area_type_selector"><i>Create an </i></label>
                    <select id="area_type_selector" style="align" required/>
                        <option value="amenity">Amenity</option>
                        <option value="enclosure">Enclosure</option>
                    </select>
                </p>
                <p>
                    <label for="area_label">Label:</label>
                    <input name="area_label" id="area_label" type="text" size="20" required autofocus/>
                </p>
                <p>
                    <label for="area_visitor_destination">Visitor Destination:</label>
                    <input name="area_visitor_destination" id="area_visitor_destination" type="text" size="20" required/>
                </p>
                <div id="amenity_fields">
                    <p>
                        <label for="amenity_type">Amenity Type:</label>
                        <select name="amenity_type" id="amenity_type" form="area_detail_form">
                            <option value="ATTRACTION">Attraction</option>
                            <option value="BBQ">BBQ</option>
                            <option value="PLAY_AREA">Play Area</option>
                            <option value="RECEPTION">Reception</option>
                            <option value="RESTAURANT">Restaurant</option>
                            <option value="SNACKS">Snacks</option>
                            <option value="WC">Toilets</option>
                        </select>
                    </p>
                    <p>
                        <label for="amenity_description">Description:</label>
                        <input name="amenity_description" id="amenity_description" type="text" size="20" />
                    </p>
                </div>
                <p>
                    <label for="area_image">Image:</label>
                    <input name="area_image" id="area_image" type="file" accept="image/*" size="4" required/>
                </p>
                <input id="area_detail_cancel" type="button" class="button cancel" value="Cancel" />
                <input id="area_detail_confirm" type="button" class="button submit" value="Create" />
            </form>
        </section>
        <section id="list_areas_page" class="page">
            <h2>Areas</h2>
            <button type="button" class="button create" id="list_areas_create">Create New</button>
            <div class="table">
                <input type="text" id='list_areas_search' class="search" onkeyup="bjørneparkappen.adminconsole.areas.search()" placeholder="Search for areas...">
                <table id="list_areas_table">
                    <tr>
                        <th>Label</th>
                        <th>Type</th>
                        <th>Delete</th>
                    </tr>
                </table>
            </div>
        </section>

        <section id="animal_detail_page" class="page">
            <h2 id="animal_detail_title">Create Animal</h2>
            <form id="animal_detail_form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="animal_name">Name:</label>
                    <input name="animal_name" id="animal_name" type="text" size="20" required autofocus/>
                </p>
                <p>
                    <label for="animal_description">Description:</label>
                    <input name="animal_description" id="animal_description" type="text" size="20" required/>
                </p>
                <p>
                    <label for="animal_species">Species:</label>
                    <select name="animal_species" id="animal_species" form="animal_detail_form" required>
                    </select>
                </p>
                <p>
                    <label for="animal_available">Available:</label>
                    <input name="animal_available" id="animal_available" type="checkbox" checked="true" required />
                </p>
                <input id="animal_detail_cancel" type="button" class="button cancel" value="Cancel" />
                <input id="animal_detail_confirm" type="button" class="button submit" value="Create" />
            </form>
        </section>
        <section id="list_animals_page" class="page">
            <h2>Animals</h2>
            <button type="button" class="button create" id="list_animals_create">Create New</button>
            <div class="table">
                <input type="text" id='list_animals_search' class="search" onkeyup="bjørneparkappen.adminconsole.animals.search()" placeholder="Search for animals...">
                <table id="list_animals_table">
                    <tr>
                        <th>Name</th>
                        <th>Species</th>
                        <th>Available</th>
                        <th>Delete</th>
                    </tr>
                </table>
            </div>
        </section>

        <section id="event_detail_page" class="page">
            <h2 id="event_detail_title">Create Event</h2>
            <form id="event_detail_form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="event_type_selector"><i>Create a </i></label>
                    <select id="event_type_selector" style="align" required/>
                        <option value="feeding">Feeding</option>
                        <option value="event">Event</option>
                    </select>
                </p>
                <p>
                    <label for="event_label">Label:</label>
                    <input name="event_label" id="event_label" type="text" size="20" required autofocus/>
                </p>
                <p>
                    <label for="event_start_time">Start Time:</label>
                    <input name="event_start_time" id="event_start_time" type="time" step="60" required/>
                </p>
                <p>
                    <label for="event_end_time">End Time:</label>
                    <input name="event_end_time" id="event_end_time" type="time" step="60" required/>
                </p>
                <p>
                    <label for="event_area">Area:</label>
                    <select name="event_area" id="event_area" form="event_detail_form" required >
                    </select>
                </p>
                <p>
                    <label for="event_description">Description:</label>
                    <input name="event_description" id="event_description" type="text" size="20" required/>
                </p>
                <p id="feeding_fields">
                    <label for="event_keeper">Keeper:</label>
                    <select name="event_keeper" id="event_keeper" form="event_detail_form" >
                        <option value="0119484879548958">Magnhild</option>
                        <option value="0309405934059039">Callum</option>
                    </select>
                </p>
                <p>
                    <label for="event_active">Active:</label>
                    <input name="event_active" id="event_active" type="checkbox" checked="true" required />
                </p>
                <input id="event_detail_cancel" type="button" class="button cancel" value="Cancel" />
                <input id="event_detail_confirm" type="button" class="button submit" value="Create" />
            </form>
        </section>
        <section id="list_events_page" class="page">
            <h2>Events</h2>
            <button type="button" class="button create" id="list_events_create">Create New</button>
            <div class="table">
                <table id="list_events_table">
                    <input type="text" id='list_events_search' class="search" onkeyup="bjørneparkappen.adminconsole.events.search()" placeholder="Search for events...">
                    <tr>
                        <th>Label</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Keeper</th>
                        <th>Active</th>
                        <th>Delete</th>
                    </tr>
                </table>
            </div>
        </section>

        <section id="keeper_detail_page" class="page">
            <h2 id="keeper_detail_title">Create Keeper</h2>
            <form id="keeper_detail_form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                <p>
                    <label for="keeper_name">Name:</label>
                    <input name="keeper_name" id="keeper_name" type="text" size="20" required autofocus/>
                </p>
                <p>
                    <label for="keeper_bio">Bio:</label>
                    <input name="keeper_bio" id="keeper_bio" type="text" size="20" required/>
                </p>
                <input id="keeper_detail_cancel" type="button" class="button cancel" value="Cancel" />
                <input id="keeper_detail_confirm" type="button" class="button submit" value="Create" />
            </form>
        </section>
        <section id="list_keepers_page" class="page">
            <h2>Keepers</h2>
            <button type="button" class="button create" id="list_keepers_create">Create New</button>
            <div class="table">
                <table id="list_keepers_table">
                    <input type="text" id='list_keepers_search' class="search" onkeyup="bjørneparkappen.adminconsole.keepers.search()" placeholder="Search for keepers...">
                    <tr>
                        <th>Name</th>
                        <th>Bio</th>
                        <th>Delete</th>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</body>
</html>
